<!doctype html>
<html class="no-js" lang="{{site.lang}}">

<head>
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="assets/css/normalize.css">
  <link rel="stylesheet" href="assets/css/main.css">
  <link href="https://unpkg.com/@primer/css/dist/primer.css" rel="stylesheet" />
  <link rel="stylesheet" href="assets/css/custom.css">

  <!-- Twitter -->
  <!-- <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://bixal.github.io/methods/">
  <meta property="twitter:title" content="Methods">
  <meta property="twitter:description" content="A guide to help practice and promote human-centered design and agile delivery to improve outcomes.">
  <meta property="twitter:image" content="https://bixal.github.io/methods/images/social-card.jpg"> -->

  <!--MW-->
  <meta name="twitter:site" content="@wordpressdotcom" />
  <meta name="twitter:text:title" content="Did Moses Use Liberating&nbsp;Structures?" />
  <meta name="twitter:image" content="https://michaelweinraub.files.wordpress.com/2021/01/screen-shot-2021-01-16-at-6.33.33-pm.png?w=640" />
  <meta name="twitter:card" content="summary_large_image" />

</head>

<body class="p-3">
  <main class="container-md markdown-body">
    {{ content }}
  </main>
  
  <script src="assets/js/vendor/modernizr-3.11.2.min.js"></script>
  <script src="assets/js/plugins.js"></script>
  <script src="assets/js/main.js"></script>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', '{{ site.ga }}', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>
